/* Основная часть */

hr{
   border-top: 1px solid rgba(33, 37, 41, 0.5) !important;
}
.post_body{
   margin-top: 20px;
   font-size: 18px;
}
.post_title{
   font-size: 26px;
   font-weight: bold;
}
.post{
   margin-top: 40px;
   margin-bottom: 40px;
}
